In [6]:
# Operating System
import os

# Numpy, Pandas and Scipy
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix, coo_matrix, save_npz, load_npz

# Scikit-learn
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.model_selection import train_test_split

## Step 0: Load the Data

## Step 0.1: Load the Train and Test files

In [32]:
def read_users_history() -> pd.DataFrame:
    """Imports the reviews history for each user.
    
    Returns:
        data (pd.DataFrame): DataFrame with the user for each user. 
                             The rows are tuples of (user, product_id, rating).
                             
    """
    path = os.path.join('data', 'train_reviews.csv')
    data = pd.read_csv(path).drop(columns='Unnamed: 0')
    return data

complete_data = read_users_history()
data = complete_data[['product_id', 'user_id', 'overall']]
data.head()

   product_id         user_id  overall
0  1881509818    AIXZKN4ACSKI        5
1  1881509818  A1L5P841VIO02V        5
2  1881509818   AB2W04NI4OEAD        4
3  1881509818  A148SVSWKTJKU6        4
4  1881509818   AAAWJ6LW9WMOO        4

In [33]:
# How many ratings do we have in total?
# Tip: The ":," at the end of the f-string adds the thousand separator.
print(f"We have {len(data):,} ratings in total.")

We have 268,169 ratings in total.

In [34]:
def read_test_users() -> pd.DataFrame:
    """Imports the list of users for which we need to predict.
    
    Returns:
        users_to_pred (pd.DataFrame): DataFrame with the users for which we will recommend products. 
    """

    path = os.path.join('data', 'test_users.csv')
    users_to_pred_ = pd.read_csv(path)
    users_to_pred_.columns = ['users to recommend products']
    return users_to_pred_


users_to_pred = read_test_users()
users_to_pred.head()

  users to recommend products
0        A0029274J35Q1MYNKUWO
1        A0103849GBVWICKXD4T6
2       A01685981QK9IX1Q16YZY
3       A02904661A62AP64S46MT
4        A036147939NFPC389VLK

In [17]:
# For how many users are we recommending stuff?
print(f"We have {len(users_to_pred)} users in need for better products!")

We have 9225 users in need for better products!

## Step 0.2: Compare the train and test files

In [35]:
# And for how many users we already know something?
# For the 9225 users in our test set, we have data for 8343 in the original reviews history.
# For the remaining 882 we will have to use non-personalized strategies.
print(users_to_pred.isin(data.user_id.values).sum())

users to recommend products    8343
dtype: int64

In [36]:
def get_indices_from_users_to_pred(users_to_pred: pd.DataFrame, data: pd.DataFrame):
    """Get the indices of users_to_pred for which we have data and for which we don't.
    
    Args:
        users_to_pred (pd.DataFrame): DataFrame containing the list of users we are going to recommend items.
        data (pd.DataFrame): Original of reviews history for the users.
        
    Returns:
        index_users_in_data (Int64Index): Index that filters the users_to_pred to get the user_id's with training data.
        index_users_not_in_data (Int64Index): Index that filters the users_to_pred to get the user_id's without training data.
        
    """
    index_users_in_data = users_to_pred[users_to_pred.isin(data.user_id.values).values].index
    index_users_not_in_data = users_to_pred[~users_to_pred.isin(data.user_id.values).values].index
    
    return index_users_in_data, index_users_not_in_data


index_users_in_data, index_users_not_in_data = get_indices_from_users_to_pred(users_to_pred, data)

In [37]:
# For further inspection, we advise you to look at the objects themselves.
print(f"The index for users which we have training data has length of {len(index_users_in_data)}.")
print(f"The index for users which we don't have training data has length of {len(index_users_not_in_data)}.")

The index for users which we have training data has length of 8343.
The index for users which we don't have training data has length of 882.

In [38]:
def get_users_to_pred_by_index(users_to_pred, index_users_in_data):
    """DataFrame with user_id's in test set for which we have training data.

    Args: 
        users_to_pred (pd.DataFrame): DataFrame containing the list of users we are going to recommend items.
        index_users_in_data (Int64Index): Index that filters the users_to_pred to get the user_id's with training data.
    Returns:
        users_in_data (pd.DataFrame): Dataframe containing the list of user_id's with training data.
    
    """
    return users_to_pred.iloc[index_users_in_data].reset_index(drop=True)

# Get the test users with training data
test_users_in_data = get_users_to_pred_by_index(users_to_pred, index_users_in_data)
print(test_users_in_data.shape)
test_users_in_data.head()

(8343, 1)

  users to recommend products
0        A0029274J35Q1MYNKUWO
1        A0103849GBVWICKXD4T6
2       A01685981QK9IX1Q16YZY
3       A02904661A62AP64S46MT
4        A036147939NFPC389VLK

In [39]:
# Get the test users without training data
test_users_not_in_data = get_users_to_pred_by_index(users_to_pred, index_users_not_in_data)
print(test_users_not_in_data.shape)
test_users_not_in_data.head()

(882, 1)

  users to recommend products
0       A04904273OLXHXFW1AQK2
1              A100US3LDAJU51
2              A10885J2DS1NQ6
3              A108M7R9UBH5LT
4              A10W7NGRNY5GTR

## Step 0.3: Create the Ratings matrix

In [40]:
def make_ratings(data: pd.DataFrame) -> csr_matrix:
    """Creates the ratings matrix of reviews history.
    
    Creates the ratings matrix from the reviews history imported using the read_users_history() method.
    
    Args:
        data (pd.DataFrame):  reviews history for the users.
        
    Returns:
        ratings (csr_matrix): ratings matrix with shape (n_users, n_items)
        
    TODO:
        * Add the shape as an optional parameter.
        
    """
    # You have probably seen this before
    users, user_pos = np.unique(data.iloc[:, 0].values, return_inverse=True)
    items, item_pos = np.unique(data.iloc[:, 1].values, return_inverse=True)
    values = data.iloc[:, 2].fillna(0).values
    
    shape = (len(users), len(items))

    R_ = coo_matrix((values, (user_pos, item_pos)), shape=shape).tocsr()
    
    return R_


R = make_ratings(data)
R

<18264x34713 sparse matrix of type '<class 'numpy.int64'>'
	with 268169 stored elements in Compressed Sparse Row format>

In [41]:
# Just for mental (in)sanity, let's match the info of the matrix to what is printed in the previous cell.
print(f"The shape is {R.shape}")
print(f"The dtypes of the elements are {R.dtype}")
print(f"The number of stored elements is {R.nnz}")
print(f"The type of the matrix is {type(R)}")

The shape is (18264, 34713)
The dtypes of the elements are int64
The number of stored elements is 268169
The type of the matrix is <class 'scipy.sparse.csr.csr_matrix'>

In [46]:
# Let's store a Series with the unique user id's that we have in the original data.
def get_unique_users(data):
    """Get unique users in training data.
    
    Args:
        data (pd.DataFrame):  reviews history for the users.
        
    Returns:
        unique_users (pd.DataFrame): DataFrame of one column with unique users in training data.
    
    """
    return pd.DataFrame(np.unique(data.iloc[:, 0].values), columns=["users to recommend products"])


unique_users_training_data = get_unique_users(data)
unique_users_training_data.head()

  users to recommend products
0                  1881509818
1                  2094869245
2                  7245456259
3                  7245456313
4                  B000002NUS

## Step 0.4: Record the indices of users

In [65]:
def get_indices_in_ratings_for_test_users_in_data(data: pd.DataFrame, test_users_in_data: pd.DataFrame):
    """Returns the index of the ratings matrix for the test users for which we have training data.
    
    Args:
        data (pd.DataFrame): DataFrame with the user for each user. 
                             The rows are tuples of (user_id, product_id, rating).
                             
        test_users_in_data (pd.DataFrame): DataFrame containing the list of test users for which we have training data.
        
    Returns:
        indices_ratings_tests_users_in_data (np.array): Indices of users in test set with training data for ratings matrix.
    
    """
    unique_users = get_unique_users(data).iloc[:, 0]
    indices_ratings_tests_users_in_data = unique_users[unique_users.isin(test_users_in_data.iloc[:, 0])].index.to_numpy()  
    print(unique_users)
    print(unique_users[unique_users.isin(test_users_in_data.iloc[:, 0])])
    return indices_ratings_tests_users_in_data

indices_ratings_tests_users_in_data = get_indices_in_ratings_for_test_users_in_data(data, test_users_in_data)

0        1881509818
1        2094869245
2        7245456259
3        7245456313
4        B000002NUS
            ...
18259    B00J5HDEPC
18260    B00J6Q33HQ
18261    B00J77V5LK
18262    B00JF69NI0
18263    B00JG07IKU
Name: users to recommend products, Length: 18264, dtype: object
Series([], Name: users to recommend products, dtype: object)

In [44]:
len(indices_ratings_tests_users_in_data)

0

In [22]:
print(f"As expected, the length of the indices should be {len(indices_ratings_tests_users_in_data)}, matching the number of users in test set with training data.")

As expected, the length of the indices should be 700, matching the number of users in test set with training data.

## Step 1: Understand your data flow
In the end, we will be predicting over a test set of users, which may or may not have ratings available in our training data. For the ones in the test set for which we have data in the training, we may use personalized recommendation systems. Otherwise, we need to switch to non-personalized recommendations. 

To split into train and validation, we undersample the original list of ratings but we need to make sure that the overall shape is the same (making sure that by undersampling we do not affect the shape of the full matrix).

In [23]:
def make_ratings(data: pd.DataFrame, shape: tuple = None) -> csr_matrix:
    """Creates the ratings matrix of listening history with optional shape
    
    2nd version of the make_ratings which handles the previous TODO.
    Creates the ratings matrix from the listening history imported using the read_users_history() method.
    
    Args:
        data (pd.DataFrame):  Listening history for the users.
        shape (tuple): The overall (n_users, n_items) shape desired for the matrix. 
                       If None, define the shape with the (n_users, n_items) from data argument.
        
    Returns:
        ratings (csr_matrix): Ratings matrix with shape (n_users, n_items).
    
    """
    # You have probably seen this before
    users, user_pos = np.unique(data.iloc[:, 0].values, return_inverse=True)
    items, item_pos = np.unique(data.iloc[:, 1].values, return_inverse=True)
    values = data.iloc[:, 2].fillna(0).values
    
    if shape == None:
        shape = (len(users), len(items))

    R_ = coo_matrix((values, (user_pos, item_pos)), shape=shape).tocsr()
    return R_


R = make_ratings(data)
R

<7526x41194 sparse matrix of type '<class 'numpy.int64'>'
	with 100000 stored elements in Compressed Sparse Row format>

In [24]:
# Percentage of listening history used for validation.
test_size = 0.2

def make_train_val_split(data: pd.DataFrame, test_size : float = 0.2, shape: tuple = None):
    """Split the data into train and validation and returns the ratings matrixes accordingly.
    
    Args:
        data (pd.DataFrame): Listening history for the users.
        test_size (float): Percentage of listening history used for validation.
        shape (tuple): The overall (n_users, n_items) shape desired for the matrix. 
                       If None, define the shape with the (n_users, n_items) from 'data' argument.
    
    Returns:
        ratings_train (csr_matrix): Ratings matrix for train.
        ratings_val (csr_matrix): Ratings matrix for validation.
    
    """
    train_data, val_data = train_test_split(data, test_size=test_size, random_state=8)
    R_train = make_ratings(train_data, shape=shape)
    R_val = make_ratings(val_data, shape=shape)
    return R_train, R_val

ratings_train, ratings_val = make_train_val_split(data, test_size=test_size, shape=R.shape)

In [25]:
# After the train/validation split, let's compare the number of ratings available in each matrix.
print(f"After the split we have {ratings_train.nnz:,} ratings in the train set and {ratings_val.nnz:,} ratings in the validation set.")

After the split we have 80,000 ratings in the train set and 20,000 ratings in the validation set.

## Step 2: Non-Personalized
Let's build our baseline using one of the the Non-Personalized techniques we learned in BLU10 - "Popular Items". This basically fetches the items which have more ratings overall (we don't care if it is good or bad). Is this how it should be?

<img src="./media/fry_good_bad.jpg" alt="Confused Fry" width="300"/>


Probably not. But it is worth a shot!

In [26]:
def get_most_rated(ratings: csr_matrix, n: int) -> np.matrix:
    """Returns the n most rated items in a ratings matrix.
    
    Args:
        ratings (csr_matrix): A sparse ratings matrix
        n (int): The number of top-n items we should retrieve.
        
    Returns:
        most_rated (np.matrix): An array of the most rated items.
    
    """
    def is_rating(R_: csr_matrix) -> csr_matrix:
        """Returns a sparse matrix of booleans 
        
        Args:
            R_ (csr_matrix): A sparse ratings matrix
            
        Returns:
            is_rating (csr_matrix): A sparse matrix of booleans.
        """
        return R_ > 0
    
    def count_ratings(R_: csr_matrix):
        """Returns an array with the count of ratings
        
        The attribute ".A1" of a numpy matrix returns self as a flattened ndarray.
        
        Args:
            R_ (csr_matrix): A sparse matrix of booleans
        
        Returns:
            count_ratings (np.darray): Count of ratings by item
        """
        return R_.sum(axis=0).A1
    
    ratings_ = is_rating(ratings)
    ratings_ = count_ratings(ratings_)
    return np.negative(ratings_).argsort()[:n]


non_pers_most_rated = get_most_rated(ratings_train, 100)
non_pers_most_rated

array([ 8312,  1209,  2290,  1352, 26685, 20048,  6308, 16216,  5039,
        7960, 29134, 28981, 27881, 22499, 22314, 11364, 22552, 30698,
        2305, 15157,  4850,  4203, 29496, 20453, 28333, 16857, 32149,
        7875,  2261, 25589,  3590, 27896, 26779, 28751, 15602, 22722,
       30784, 30780,   189, 16533,  9651, 28636, 31093, 19175, 19115,
       30383, 28329, 22468, 19119, 26914, 22352, 16854,   805,  4823,
       21543, 17152, 17652, 19487, 30914, 12750, 19437, 33014, 32731,
       28228, 35432, 31467, 16255, 26991, 11663, 32585, 19556, 24667,
       32454,  8933, 27849, 32639, 26392, 16243,  1510, 33471,  6051,
       13102, 28712,  8276, 25984, 23209,  1778,  9916, 31829,  2339,
       34535, 15185, 22648,  4590, 35471, 20634,  9682, 25299,  6835,
       17409])

In [27]:
def convert_non_pers_recommendations_to_df(non_pers_recs: np.array, users_to_pred: pd.DataFrame) -> pd.DataFrame:
    """
    Converts the non-personalized most rated to an DataFrame with the users and the recommendations.
    We will basically repeat the non_pers_recs array for the number of users in need.
    
    Args:
        non_pers_recs (np.array): Array of indices for the best non-personalized items to recommend.
        users_to_pred (pd.DataFrame): DataFrame containing the users which need recommendations.
        
    Returns:
        non_pers_most_rated_matrix (np.array): Two dimensional array of (n_users, top_n_items)
    
    """
    non_pers_df = pd.DataFrame(np.zeros((len(users_to_pred), 1), dtype=non_pers_recs.dtype) + non_pers_recs)
    non_pers_df = pd.concat([users_to_pred, non_pers_df], axis=1)
    non_pers_df = non_pers_df.set_index("users to recommend songs")
    
    return non_pers_df


non_pers_most_rated_df = convert_non_pers_recommendations_to_df(non_pers_most_rated, unique_users_training_data)
non_pers_most_rated_df.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
users to recommend songs,,,,,,,,,,,,,,,,,,,,,
0011d5f4fb02ff276763d385c3f2ded2b00ad94a,8312,1209,2290,1352,26685,20048,6308,16216,5039,7960,...,34535,15185,22648,4590,35471,20634,9682,25299,6835,17409
002511b392561fc1d426d875c386b356a6fc5702,8312,1209,2290,1352,26685,20048,6308,16216,5039,7960,...,34535,15185,22648,4590,35471,20634,9682,25299,6835,17409
002dfbc3c073b55a64a4abab34c0ca1f13897f1c,8312,1209,2290,1352,26685,20048,6308,16216,5039,7960,...,34535,15185,22648,4590,35471,20634,9682,25299,6835,17409
003998bc33cddeba02428a43391c6716e523c8f7,8312,1209,2290,1352,26685,20048,6308,16216,5039,7960,...,34535,15185,22648,4590,35471,20634,9682,25299,6835,17409
0042d2027dfa0340e31d2aa875c4be229730efb7,8312,1209,2290,1352,26685,20048,6308,16216,5039,7960,...,34535,15185,22648,4590,35471,20634,9682,25299,6835,17409

In [28]:
def create_dict_preds(preds_df: pd.DataFrame) -> dict:
    """Convert the predictions DataFrame (index:users -> columns: items) to a dictionary of key (user->list of items).
    
    Args: 
        preds_df (pd.DataFrame): DataFrame containing the users and the ordered predictions.
        
    Returns:
        preds_dict (dict): Dict of (user_id: list of items) used for evaluating the performance.
    
    """
    return {preds_df.index[i]: preds_df.values[i].tolist() for i in range(len(preds_df))}


non_pers_dict = create_dict_preds(non_pers_most_rated_df)
# Since dicts in python are not ordered, we need to HAMMER DOWN a way to print some values.
dict(list(non_pers_dict.items())[0:1])

{'0011d5f4fb02ff276763d385c3f2ded2b00ad94a': [8312,
  1209,
  2290,
  1352,
  26685,
  20048,
  6308,
  16216,
  5039,
  7960,
  29134,
  28981,
  27881,
  22499,
  22314,
  11364,
  22552,
  30698,
  2305,
  15157,
  4850,
  4203,
  29496,
  20453,
  28333,
  16857,
  32149,
  7875,
  2261,
  25589,
  3590,
  27896,
  26779,
  28751,
  15602,
  22722,
  30784,
  30780,
  189,
  16533,
  9651,
  28636,
  31093,
  19175,
  19115,
  30383,
  28329,
  22468,
  19119,
  26914,
  22352,
  16854,
  805,
  4823,
  21543,
  17152,
  17652,
  19487,
  30914,
  12750,
  19437,
  33014,
  32731,
  28228,
  35432,
  31467,
  16255,
  26991,
  11663,
  32585,
  19556,
  24667,
  32454,
  8933,
  27849,
  32639,
  26392,
  16243,
  1510,
  33471,
  6051,
  13102,
  28712,
  8276,
  25984,
  23209,
  1778,
  9916,
  31829,
  2339,
  34535,
  15185,
  22648,
  4590,
  35471,
  20634,
  9682,
  25299,
  6835,
  17409]}

### Step 2.2 - Creating the Ground Truth
Since we are splitting the data into train and validation, we will test the predictions we get with the training data in the validation set. To do this, we need to determine what is the ground truth (the actual outcomes) of the recommendations for the validation set. 

The main idea is to pick up a sorted array for each user on the songs with highest value in the validaton ratings matrix.

In [29]:
def get_y_true(R_val_, users_to_pred, n=100):
    """Get the ground truth (best recommendations) of the users in the validation set.
    
    Args:
        R_val_ (csr_matrix): Validation set ratings matrix.
        n (int): Number of top-n items.
        
    Returns:
        y_true_df (pd.DataFrame): DataFrame which returns the y_true items.
        
    """
    top_from_R_val = pd.DataFrame(np.negative(R_val_).toarray().argsort()[:, :n])
    y_true_df = pd.concat([users_to_pred, top_from_R_val], axis=1)
    y_true_df = y_true_df.set_index("users to recommend songs")
    return y_true_df


y_true_df = get_y_true(ratings_val, unique_users_training_data, n=100)
y_true_df.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
users to recommend songs,,,,,,,,,,,,,,,,,,,,,
0011d5f4fb02ff276763d385c3f2ded2b00ad94a,12452,4741,3521,449,5942,27460,27461,27462,27463,27464,...,27388,27390,27391,27392,27393,27394,27395,27396,27389,27397
002511b392561fc1d426d875c386b356a6fc5702,5460,11995,27459,27460,27461,27462,27463,27464,27465,27466,...,27386,27388,27389,27390,27391,27392,27393,27394,27387,27395
002dfbc3c073b55a64a4abab34c0ca1f13897f1c,12009,309,680,9579,604,1249,27461,27462,27463,27464,...,27386,27387,27380,27388,27390,27391,27392,27393,27394,27395
003998bc33cddeba02428a43391c6716e523c8f7,12267,6421,12273,27460,27461,27462,27463,27464,27465,27466,...,27386,27379,27387,27389,27390,27391,27392,27393,27394,27395
0042d2027dfa0340e31d2aa875c4be229730efb7,10537,1533,8468,0,27458,27459,27460,27461,27462,27463,...,27386,27388,27389,27390,27391,27392,27393,27394,27387,27395

In [30]:
# Create the dictionary with the ground truth.
y_true_dict = create_dict_preds(y_true_df)

## Evaluate
We will use the Mean Average Precision @ K to evaluate our predictions.

In [31]:
evaluate(y_true_dict, non_pers_dict)

7.151197623090392e-06

## Predict 
To submit your predictions, you just need to convert your recommendations to the formatwe have in the `example_output.csv` file.

In [32]:
# Join both dataframes with user_id's
all_test_users = pd.concat([test_users_in_data, test_users_not_in_data]).reset_index(drop=True)

In [33]:
non_pers_test_most_rated_df = convert_non_pers_recommendations_to_df(non_pers_most_rated, all_test_users)
print(non_pers_test_most_rated_df.shape)
non_pers_test_most_rated_df.head()

(1000, 100)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
users to recommend songs,,,,,,,,,,,,,,,,,,,,,
56d985c92960b98ad76a48b10a062b0cd86795bf,8312,1209,2290,1352,26685,20048,6308,16216,5039,7960,...,34535,15185,22648,4590,35471,20634,9682,25299,6835,17409
991411f0dca94f348c7bd3eae93b6e6c061605f1,8312,1209,2290,1352,26685,20048,6308,16216,5039,7960,...,34535,15185,22648,4590,35471,20634,9682,25299,6835,17409
323fbb28144eefa3eabfa22bd310dfb0713de80d,8312,1209,2290,1352,26685,20048,6308,16216,5039,7960,...,34535,15185,22648,4590,35471,20634,9682,25299,6835,17409
55c750f0951ca1021b26c0e758660bb8a2c49d3a,8312,1209,2290,1352,26685,20048,6308,16216,5039,7960,...,34535,15185,22648,4590,35471,20634,9682,25299,6835,17409
b458e3d697276a93aa6926caf1ff08e875933940,8312,1209,2290,1352,26685,20048,6308,16216,5039,7960,...,34535,15185,22648,4590,35471,20634,9682,25299,6835,17409

In [34]:
def save_predictions(predictions: pd.DataFrame, output_path: str):
    """Save predictions to csv.
    
    Saves the predictions into a csv file with the format we need.
    We keep the index since it contains the user ids.
    
    Args:
        predictions (pd.DataFrame): DataFrame with user_id as index and ordered recommendations in the columns.
        output_path (str): Filepath for the predictions file.
    
    """
    predictions.to_csv(output_path, header=None)
    print(f"Saved to csv in '{output_path}'.")
    
    
save_predictions(non_pers_test_most_rated_df, os.path.join("data", "test_non_personalized_recommendations.csv"))

Saved to csv in 'data/test_non_personalized_recommendations.csv'.

In [35]:
# Filter the non-personalized recommendations for the users without training data and save
new_users_recommendations = non_pers_most_rated_df.iloc[index_users_not_in_data]
save_predictions(new_users_recommendations, os.path.join("data", "new_users_non_personalized.csv"))

Saved to csv in 'data/new_users_non_personalized.csv'.

## Step 3: Personalized

### Step 3.1 - Collaborative filtering

In [36]:
def make_user_similarities(R_):
    """Creates the user similarities matrix.
    
    Args:
        R_ (csr_matrix): Ratings matrix.
        
    Returns:
        user_similarities (csr_matrix): Matrix with user similarities.
    
    """
    return cosine_similarity(R_, dense_output=False)


user_similarities = make_user_similarities(ratings_train)
user_similarities

<7526x7526 sparse matrix of type '<class 'numpy.float64'>'
	with 1078541 stored elements in Compressed Sparse Row format>

In [37]:
def make_user_predictions_collab_filt(S: csr_matrix, R_: csr_matrix):
    """Predict using collaborative filtering.
    
    Args:
        S (csr_matrix): Similarities matrix (tipically using the cosine_similarity).
        R_ (csr_matrix): Ratings matrix.
        
    Returns:
        preds (csr_matrix): Predictions matrix.
    
    """
    weighted_sum = np.dot(S, R_)
    
    # We use the absolute value to support negative similarities.
    # In this particular example there are none.
    sum_of_weights = np.abs(S).sum(axis=1)
    
    preds = weighted_sum / sum_of_weights
    
    # Exclude previously rated items.
    preds[R_.nonzero()] = 0
    
    return csr_matrix(preds)
 

collab_filt_user_preds = make_user_predictions_collab_filt(user_similarities, ratings_train)
collab_filt_user_preds

/home/francisco.fonseca/anaconda3/envs/blu12/lib/python3.7/site-packages/scipy/sparse/base.py:596: RuntimeWarning: invalid value encountered in true_divide
  return np.true_divide(self.todense(), other)

<7526x41194 sparse matrix of type '<class 'numpy.float64'>'
	with 9269874 stored elements in Compressed Sparse Row format>

In [38]:
def sparsity(matrix):
    """Calculates the sparsity of a matrix.
    
    Args:
        matrix (csr_matrix): Sparse matrix.
        
    Returns:
        sparsity_ (float): Sparsity percentage (between 0 and 1).
    
    """
    return 1 - matrix.nnz / (matrix.shape[0] * matrix.shape[1])


sparsity(collab_filt_user_preds)

0.9700996926567885

In [39]:
def get_most_rated_from_user_preds(user_preds_: csr_matrix, n: int) -> np.matrix:
    """Returns the n most rated items from the user predictions.
    
    Args:
        ratings (csr_matrix): A sparse ratings matrix
        n (int): The number of top-n items we should retrieve.
        
    Returns:
        most_rated (np.matrix): An array of the most rated items.
    
    """
    pred_ = np.negative(user_preds_).toarray()
    return pred_.argsort()[:, :n]


collab_filt_most_rated = get_most_rated_from_user_preds(collab_filt_user_preds, 100)
print(collab_filt_most_rated.shape)
collab_filt_most_rated

(7526, 100)

array([[31570, 25984,  2290, ..., 18798,  7875,  6664],
       [27659, 21954, 12238, ...,  4125, 29262, 35328],
       [ 8618, 29496, 26929, ...,  6136,  2050,  1047],
       ...,
       [ 5409,  1352,  1209, ...,  6585, 13128, 25882],
       [27334, 30895, 14233, ...,  6848, 32085, 25373],
       [    0, 27457, 27458, ..., 27385, 27393, 27375]])

In [40]:
def convert_pers_recommendations_to_df(pers_recs: np.array, users_to_pred: pd.DataFrame) -> pd.DataFrame:
    """Converts the personalized most rated to an DataFrame with the users and the recommendations.
    
    Args:
        pers_recs (np.array): Array of indices for the best personalized items to recommend.
        users_to_pred (pd.DataFrame): DataFrame containing the users which need recommendations.
        
    Returns:
        non_pers_most_rated_matrix (np.array): Two dimensional array of (n_users, top_n_items)
    
    """
    pers_df = pd.concat([users_to_pred, pd.DataFrame(pers_recs)], axis=1)
    pers_df = pers_df.set_index("users to recommend songs")
    
    return pers_df


collab_filt_most_rated_df = convert_pers_recommendations_to_df(collab_filt_most_rated, unique_users_training_data)
collab_filt_most_rated_df.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
users to recommend songs,,,,,,,,,,,,,,,,,,,,,
0011d5f4fb02ff276763d385c3f2ded2b00ad94a,31570,25984,2290,17652,33161,11147,28911,19556,30679,8933,...,19561,22499,9651,27537,28221,11888,3635,18798,7875,6664
002511b392561fc1d426d875c386b356a6fc5702,27659,21954,12238,30125,13873,33226,23681,4542,7937,32439,...,26597,2908,23115,13147,15023,25166,19547,4125,29262,35328
002dfbc3c073b55a64a4abab34c0ca1f13897f1c,8618,29496,26929,8312,1903,6308,6585,20048,8885,28751,...,8933,18510,30829,23256,12241,20634,25589,6136,2050,1047
003998bc33cddeba02428a43391c6716e523c8f7,1074,1400,3700,28898,34975,22507,35471,858,22896,1440,...,33402,9223,7614,13844,24369,32531,21794,28973,32791,11892
0042d2027dfa0340e31d2aa875c4be229730efb7,3820,31343,25597,17352,27180,34628,28712,16216,31039,20844,...,2050,13094,16072,4195,10428,4502,21442,9725,26735,33539

In [41]:
collab_filt_dict = create_dict_preds(collab_filt_most_rated_df)
# Since dicts in python are not ordered, we need to HAMMER DOWN a way to print some values.
dict(list(collab_filt_dict.items())[0:1])

{'0011d5f4fb02ff276763d385c3f2ded2b00ad94a': [31570,
  25984,
  2290,
  17652,
  33161,
  11147,
  28911,
  19556,
  30679,
  8933,
  10082,
  28712,
  14213,
  8312,
  31467,
  26685,
  26839,
  4850,
  30780,
  28333,
  11561,
  11906,
  28359,
  28766,
  12741,
  28981,
  28723,
  25183,
  4483,
  35164,
  29893,
  15262,
  1209,
  9823,
  22928,
  8306,
  8356,
  29134,
  13892,
  15506,
  3104,
  11556,
  3168,
  5316,
  21006,
  29496,
  20757,
  29558,
  24188,
  12794,
  20453,
  22559,
  8958,
  25575,
  35530,
  21494,
  22468,
  34634,
  21634,
  29054,
  26779,
  16243,
  24536,
  6308,
  2834,
  13039,
  28228,
  1352,
  31294,
  29959,
  2261,
  22192,
  25103,
  22314,
  22769,
  21560,
  16003,
  31163,
  25659,
  20048,
  27896,
  33532,
  33609,
  13245,
  19115,
  24591,
  26256,
  20064,
  16533,
  12606,
  19561,
  22499,
  9651,
  27537,
  28221,
  11888,
  3635,
  18798,
  7875,
  6664]}

## Evaluate
We use again the Mean Average Precision @ K to evaluate our predictions.

In [42]:
evaluate(y_true_dict, collab_filt_dict)

0.031737763102197905

## Predict 
To submit your predictions, you just need to convert your recommendations to the format we have in the `example_output.csv` file.

In [43]:
# Filter the collaborative filtering most rated DataFrame  using the test_users_in_data mask.
collab_filt_most_rated_in_data_df = collab_filt_most_rated_df.loc[test_users_in_data.iloc[:, 0].to_list()]
print(collab_filt_most_rated_in_data_df.shape)
collab_filt_most_rated_in_data_df.head()

(700, 100)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
users to recommend songs,,,,,,,,,,,,,,,,,,,,,
56d985c92960b98ad76a48b10a062b0cd86795bf,1748,22253,621,27878,19066,5522,18590,6508,21687,31371,...,17858,3618,27507,27474,27479,27478,27509,27473,27508,27476
991411f0dca94f348c7bd3eae93b6e6c061605f1,25299,34096,32562,29865,19575,35181,22478,6494,30934,1228,...,8912,28751,9884,16319,3380,2154,8312,9469,14392,20438
323fbb28144eefa3eabfa22bd310dfb0713de80d,22234,2768,3310,4814,2563,34241,6994,21688,26562,5472,...,20255,3337,25810,5833,10057,16575,26550,13959,7045,35191
55c750f0951ca1021b26c0e758660bb8a2c49d3a,14423,1209,6418,18025,4850,16321,7195,16243,13629,26924,...,2537,4200,9844,25579,2252,19103,29113,1468,12054,1047
b458e3d697276a93aa6926caf1ff08e875933940,2290,8312,6308,28751,33175,29496,1778,30780,20048,1352,...,21868,11715,27449,35446,21772,24177,31942,970,3171,24364

In [44]:
print(new_users_recommendations.shape)
new_users_recommendations.head()

(300, 100)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
users to recommend songs,,,,,,,,,,,,,,,,,,,,,
002511b392561fc1d426d875c386b356a6fc5702,8312,1209,2290,1352,26685,20048,6308,16216,5039,7960,...,34535,15185,22648,4590,35471,20634,9682,25299,6835,17409
003998bc33cddeba02428a43391c6716e523c8f7,8312,1209,2290,1352,26685,20048,6308,16216,5039,7960,...,34535,15185,22648,4590,35471,20634,9682,25299,6835,17409
005b1fab38cdeb9d5bb97debcf73b44050994a3e,8312,1209,2290,1352,26685,20048,6308,16216,5039,7960,...,34535,15185,22648,4590,35471,20634,9682,25299,6835,17409
005cc5d858319f13f88228f62341e5a4270f8e75,8312,1209,2290,1352,26685,20048,6308,16216,5039,7960,...,34535,15185,22648,4590,35471,20634,9682,25299,6835,17409
006d3c79b9ed677280f8ddbc422d7b0fedd6d1fa,8312,1209,2290,1352,26685,20048,6308,16216,5039,7960,...,34535,15185,22648,4590,35471,20634,9682,25299,6835,17409

In [45]:
collab_filt_most_rated_test_df = pd.concat([collab_filt_most_rated_in_data_df, new_users_recommendations])
print(collab_filt_most_rated_test_df.shape)

(1000, 100)

In [46]:
# Save the collaborative filtering recommendations 
save_predictions(collab_filt_most_rated_test_df, os.path.join("data", "collab_filt_recommendations.csv"))

Saved to csv in 'data/collab_filt_recommendations.csv'.

### Step 3.2 - Content-based recommendations

In [47]:
# If you had a FileNotFoundError, make sure you have unziped the `song_tag.zip` file.
def read_tags():
    """Import the song tags file.
    
    Returns:
        tags (pd.DataFram): DataFrame with song_index, tag_index and value of the tag in the song.
        
    """
    path = os.path.join('data', 'song_tag.csv')
    data = pd.read_csv(path)
    return data


tags = read_tags()
print(tags.shape)
tags.head()

(4909471, 3)

   song_index  tag_index    val
0      254229        206  100.0
1      254229       1125   66.0
2      254229        582   66.0
3      254229        914   33.0
4      254229         95   33.0

In [48]:
def read_songs():
    """Import the songs file.
    
    Returns:
        songs (pd.DataFrame): DataFrame containing the song_id and the corresponding song_index.
    
    """
    path = os.path.join('data', 'songs.txt')
    data = pd.read_csv(path, names=['song_id', 'song_index'], sep=' ')
    return data


songs= read_songs()
print(songs.shape)
songs.head()

(386213, 2)

              song_id  song_index
0  SOAAADD12AB018A9DD           1
1  SOAAADE12A6D4F80CC           2
2  SOAAADF12A8C13DF62           3
3  SOAAADZ12A8C1334FB           4
4  SOAAAFI12A6D4F9C66           5

In [49]:
def merge_tags_songs(tags, songs, data):
    """Join the tags, songs and ratings data sources into a single frame).
    
    Args:
        tags (pd.DataFram): DataFrame with song_index, tag_index and value of the tag in the song.
        songs (pd.DataFrame): DataFrame containing the song_id and the corresponding song_index.
        
    Returns:
        tags_cleaned (pd.DataFrame): Matches the song_id to the tag_index with a corresponding value.
    
    """
    tags_cleaned = (tags.merge(songs, how='left', on='song_index')
                        .merge(data, how='right', on='song_id')
                   )[['song_id', 'tag_index', 'val']]
    return tags_cleaned

tags_cleaned = merge_tags_songs(tags, songs, data)
print(tags_cleaned.shape)
tags_cleaned.head()

(4773486, 3)

              song_id  tag_index    val
0  SODDEQU12AAF3B2FC8      104.0  100.0
1  SODDEQU12AAF3B2FC8      696.0   42.0
2  SODDEQU12AAF3B2FC8    20425.0   42.0
3  SODDEQU12AAF3B2FC8    51057.0   28.0
4  SODDEQU12AAF3B2FC8      324.0   28.0

In [50]:
# Get the number of unique song_id's for which we have tags. 
tags_cleaned.song_id.nunique()

41194

In [51]:
def make_item_profiles(data):
    """Creates the item profiles matrix.
    
    Args:
        data (pd.DataFrame): DataFrame containing the (rows, columns, values) for the ratings matrix.
                             In this case, we have (song_id, tag_index, value).
    
    Returns:
        item_profiles (csr_matrix): Item profiles matrix. Items as rows, tags as columns.
    
    """
    items, item_pos = np.unique(data.iloc[:, 0].values, return_inverse=True)
    tags, tag_pos = np.unique(data.iloc[:, 1].values, return_inverse=True)
    values = data.iloc[:, 2].fillna(0).values
    
    shape = (len(items), len(tags))

    item_profiles_ = coo_matrix((values, (item_pos, tag_pos)), shape=shape).tocsr()
    return item_profiles_


item_profiles = make_item_profiles(tags_cleaned)
item_profiles

<41194x219644 sparse matrix of type '<class 'numpy.float64'>'
	with 1364190 stored elements in Compressed Sparse Row format>

In [52]:
def make_user_profiles(R_, item_profiles_):
    """Calculate the user profiles with the items.
    
    Args:
        R_ (csr_matrix): Ratings matrix with shape (n_users, n_items).
        item_profiles_ (csr_matrix): Item profiles matrix with shape (n_items, n_tags).
        
    Returns:
        user_profiles (csr_matrix): User profiles considering the ratings and the item profiles, with shape (n_users, n_tags).
        
    """
    return np.dot(R_, item_profiles_)


user_profiles = make_user_profiles(ratings_train, item_profiles)
user_profiles

<7526x219644 sparse matrix of type '<class 'numpy.float64'>'
	with 1990023 stored elements in Compressed Sparse Row format>

In [53]:
def make_user_predictions_content(R_, item_profiles_, user_profiles_):
    """Produces content-based predictions.
    
    Args:
        R_ (csr_matrix): Ratings matrix with shape (n_users, n_items).
        item_profiles_ (csr_matrix): Item profiles matrix with shape (n_items, n_tags).
        user_profiles (csr_matrix): User profiles considering the ratings and the item profiles, with shape (n_users, n_tags).
       
    Returns:
        preds (csr_matrix): Predictions of ratings using content-based recommendations.
    
    """
    
    # Since we are not looking at the values inbetween the cosine_similarity and excluding previously rated items,
    # we can define dense_output=False to speed up.
    preds = cosine_similarity(user_profiles_, item_profiles_, dense_output=False)
    
    # Exclude previously rated items.
    preds[R_.nonzero()] = 0
    
    return preds


content_user_preds = make_user_predictions_content(ratings_train, item_profiles, user_profiles)
content_user_preds

/home/francisco.fonseca/anaconda3/envs/blu12/lib/python3.7/site-packages/scipy/sparse/_index.py:127: SparseEfficiencyWarning: Changing the sparsity structure of a csr_matrix is expensive. lil_matrix is more efficient.
  self._set_arrayXarray(i, j, x)

<7526x41194 sparse matrix of type '<class 'numpy.float64'>'
	with 196804067 stored elements in Compressed Sparse Row format>

In [54]:
content_most_rated = get_most_rated_from_user_preds(content_user_preds, 100)
print(content_most_rated.shape)
content_most_rated

(7526, 100)

array([[37668, 38513,  5656, ..., 16140, 17991, 15207],
       [23216, 27284,  2599, ..., 15536,  1020, 19335],
       [34570, 29126, 32327, ..., 33997, 35430, 22921],
       ...,
       [20603, 33715, 10530, ..., 23501, 37779, 34447],
       [21358, 39601,  2405, ..., 41188, 30743, 18640],
       [    0, 27457, 27458, ..., 27385, 27393, 27375]])

In [55]:
content_most_rated_df = convert_pers_recommendations_to_df(content_most_rated, unique_users_training_data)
print(content_most_rated_df.shape)
content_most_rated_df.head()

(7526, 100)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
users to recommend songs,,,,,,,,,,,,,,,,,,,,,
0011d5f4fb02ff276763d385c3f2ded2b00ad94a,37668,38513,5656,16966,411,4285,20825,35242,22996,26463,...,10061,35081,19904,19394,23030,16154,32646,16140,17991,15207
002511b392561fc1d426d875c386b356a6fc5702,23216,27284,2599,24227,12260,32545,18295,16275,40523,15717,...,3378,32000,15879,37723,18830,32544,18281,15536,1020,19335
002dfbc3c073b55a64a4abab34c0ca1f13897f1c,34570,29126,32327,33729,21206,7048,28306,30998,3676,14075,...,19569,36642,29298,29592,5035,10444,33949,33997,35430,22921
003998bc33cddeba02428a43391c6716e523c8f7,40865,23371,3422,12486,39739,40923,17608,24930,26236,37841,...,38476,13475,22242,11328,8356,3627,35935,10735,22181,22448
0042d2027dfa0340e31d2aa875c4be229730efb7,14192,25368,35300,5475,39809,32482,23056,16255,18012,39891,...,8250,31210,25192,9891,34373,17447,6565,255,24213,17735

In [56]:
content_dict = create_dict_preds(content_most_rated_df)
# Since dicts in python are not ordered, we need to HAMMER DOWN a way to print some values.
dict(list(content_dict.items())[0:2])

{'0011d5f4fb02ff276763d385c3f2ded2b00ad94a': [37668,
  38513,
  5656,
  16966,
  411,
  4285,
  20825,
  35242,
  22996,
  26463,
  3209,
  29770,
  25944,
  23080,
  35339,
  9427,
  28609,
  38650,
  30422,
  646,
  20268,
  14628,
  15670,
  21986,
  8082,
  6874,
  34464,
  37091,
  16429,
  21977,
  38240,
  30968,
  20069,
  8099,
  9482,
  23082,
  1023,
  31818,
  31094,
  32753,
  22275,
  18939,
  10769,
  35448,
  2392,
  33962,
  24648,
  37316,
  38657,
  25739,
  38509,
  29795,
  11615,
  17444,
  40984,
  33152,
  5859,
  8172,
  26637,
  3018,
  7676,
  17064,
  30701,
  28776,
  27009,
  34007,
  18801,
  40959,
  28849,
  11487,
  39481,
  15457,
  6068,
  32369,
  36022,
  12894,
  2895,
  20907,
  13714,
  13229,
  29218,
  15740,
  32239,
  20712,
  14868,
  22360,
  8393,
  41066,
  26153,
  786,
  10061,
  35081,
  19904,
  19394,
  23030,
  16154,
  32646,
  16140,
  17991,
  15207],
 '002511b392561fc1d426d875c386b356a6fc5702': [23216,
  27284,
  2599,
  24227,
  12260,
  32545,
  18295,
  16275,
  40523,
  15717,
  13161,
  33052,
  23653,
  3313,
  7973,
  18064,
  38496,
  17547,
  14737,
  39827,
  15647,
  15734,
  21443,
  37001,
  34188,
  21712,
  38747,
  8272,
  7761,
  14820,
  5751,
  38677,
  35693,
  26342,
  5074,
  5691,
  41103,
  27091,
  5215,
  36226,
  23478,
  26403,
  8725,
  1645,
  19059,
  17256,
  20071,
  33333,
  33053,
  25680,
  23249,
  4035,
  24826,
  5115,
  28819,
  1299,
  24909,
  34136,
  38577,
  8425,
  840,
  12128,
  14142,
  37820,
  36254,
  21496,
  6671,
  21352,
  11773,
  12396,
  25416,
  34801,
  35036,
  26173,
  39435,
  7264,
  24034,
  29001,
  8066,
  743,
  19221,
  37705,
  13856,
  16061,
  37014,
  17961,
  9072,
  2473,
  32160,
  920,
  3378,
  32000,
  15879,
  37723,
  18830,
  32544,
  18281,
  15536,
  1020,
  19335]}

## Evaluate
We use again the Mean Average Precision @ K to evaluate our predictions.

In [57]:
evaluate(y_true_dict, content_dict)

0.0009937371360594822

## Predict 
To submit your predictions, you just need to convert your recommendations to the formatwe have in the `example_output.csv` file.

In [58]:
content_most_rated_in_data_df = content_most_rated_df.loc[test_users_in_data.iloc[:, 0].to_list()]
print(content_most_rated_in_data_df.shape)
content_most_rated_in_data_df.head()

(700, 100)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
users to recommend songs,,,,,,,,,,,,,,,,,,,,,
56d985c92960b98ad76a48b10a062b0cd86795bf,34205,93,17641,15026,39627,25194,9051,35365,1814,2036,...,28445,10301,13567,11524,20549,25170,39312,16949,34879,29697
991411f0dca94f348c7bd3eae93b6e6c061605f1,14384,16672,7319,8682,26524,21879,33398,12991,709,8930,...,7497,23800,24572,35811,972,34469,28743,27197,279,36996
323fbb28144eefa3eabfa22bd310dfb0713de80d,26532,36900,40471,8476,31638,17357,15468,31757,2802,12893,...,23771,35357,23845,25988,18843,41007,406,31729,28073,6986
55c750f0951ca1021b26c0e758660bb8a2c49d3a,31759,10421,20366,39719,15188,13119,6235,12144,35116,38409,...,25063,29992,6916,20372,11439,34253,35966,1253,22540,2765
b458e3d697276a93aa6926caf1ff08e875933940,9406,10037,24926,6874,18815,25938,31243,31348,20375,33345,...,19298,35468,22720,27327,2535,40505,12961,4646,26924,7303

In [59]:
print(new_users_recommendations.shape)
new_users_recommendations.head()

(300, 100)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
users to recommend songs,,,,,,,,,,,,,,,,,,,,,
002511b392561fc1d426d875c386b356a6fc5702,8312,1209,2290,1352,26685,20048,6308,16216,5039,7960,...,34535,15185,22648,4590,35471,20634,9682,25299,6835,17409
003998bc33cddeba02428a43391c6716e523c8f7,8312,1209,2290,1352,26685,20048,6308,16216,5039,7960,...,34535,15185,22648,4590,35471,20634,9682,25299,6835,17409
005b1fab38cdeb9d5bb97debcf73b44050994a3e,8312,1209,2290,1352,26685,20048,6308,16216,5039,7960,...,34535,15185,22648,4590,35471,20634,9682,25299,6835,17409
005cc5d858319f13f88228f62341e5a4270f8e75,8312,1209,2290,1352,26685,20048,6308,16216,5039,7960,...,34535,15185,22648,4590,35471,20634,9682,25299,6835,17409
006d3c79b9ed677280f8ddbc422d7b0fedd6d1fa,8312,1209,2290,1352,26685,20048,6308,16216,5039,7960,...,34535,15185,22648,4590,35471,20634,9682,25299,6835,17409

In [60]:
content_most_rated_test_df = pd.concat([content_most_rated_in_data_df, new_users_recommendations])
print(content_most_rated_test_df.shape)

(1000, 100)

In [61]:
# Save the content-based filtering recommendations 
save_predictions(content_most_rated_test_df, os.path.join("data", "content_recommendations.csv"))

Saved to csv in 'data/content_recommendations.csv'.