In [2]:
import pandas as pd

In [29]:
df = pd.DataFrame({'a':[1,2,3,4],'b':[5,4,6,7]})


df

   a  b
0  1  5
1  2  4
2  3  6
3  4  7

In [ ]:
pd.DataFrame().to_csv()

In [34]:
def save_predictions(predictions: pd.DataFrame, output_path: str):
    """Save predictions to csv.
    Saves the predictions into a csv file with the format we need.
    We keep the index since it contains the user ids.
    Args:
        predictions (pd.DataFrame): DataFrame with user_id as index and ordered recommendations in the columns.
        output_path (str): Filepath for the predictions file.
    """
    
    predictions = predictions.copy()
    cols_to_drop = predictions.columns
    predictions['purchases'] = predictions.apply(lambda row: str([ str(row[column]) for column in df.columns]), axis=1)
    predictions = predictions.drop(columns=cols_to_drop)
    predictions.to_csv(output_path,index_label='user_id')
    print(f"Saved to csv in '{output_path}'.")
#save_predictions(non_pers_test_most_rated_df, os.path.join("data", "test_non_personalized_recommendations.csv"))

In [35]:
save_predictions(df,'s')

    purchases
0  ['1', '5']
1  ['2', '4']
2  ['3', '6']
3  ['4', '7']